<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/create" method="post">
        <div>
            <input type="text" name="model" placeholder="Model">
        </div>
        <div>
            <input type="text" name="range" placeholder="range">
        </div>
        <div>
            <input type="text" name="price" placeholder="price">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>

</html>